<div class="ui cards">
    <div *ngFor="let localBier of bieren">
        <app-streekbier [streekbier]="localBier"></app-streekbier>
        <div class="ui segment" style="margin-top:2em; margin-bottom: 1em; margin-right: 4em; margin-left: 1em;">
            <div class="ui two column very relaxed grid">
                <div style="text-align:center" class="column">
                    <!--TODO: maak knop naar edit pagina-->
                    <a (click)="changeBier(localBier)">Wijzig</a>
                </div>
                <div class="column">
                    <!--TODO: maak knop + confirm-->
                    <a style="text-align:center" (click)="verwijder(localBier)">Verwijder</a>
                </div>
            </div>
            <div class="ui vertical divider">
                --
            </div>
        </div>
    </div>
</div>