<div class="ui three column very relaxed grid">
    <div class="column">
        <h1 class="avond">Streekbieren Avond</h1>
    </div>
    <div class="column">
        <p class="datum">Vrijdag 22-02-2019</p>        
    </div>
    <div class="column">
        <h1 class="cafe" (click)="changePage()">Café X</h1>
    </div>
</div>
<hr>
 <!--(someEventFromLijst)="changePage(selectedBier: Streekbier)"-->
<app-lijst-streekbieren *ngIf='showlijst else editpage' (changeStreekbier)="changePage()"></app-lijst-streekbieren>
<ng-template #editpage>
    <app-wijzig-streekbier [streekbier]="streekbier"></app-wijzig-streekbier>
</ng-template>