<div class="ui card" style="margin-top:2em; margin-bottom: 1em; margin-right: 4em; margin-left: 1em;">
  <div class="content">
    <h2 class="biernaam">{{streekbier.naam}}</h2>
  </div>
  <div class="content">
    <p>{{streekbier.percentage}}%</p>
  </div>
  <div class="content">
    <p>{{streekbier.brouwerij.naam}}</p>
  </div>
  <div class="ui segment">
    <div class="ui two column very relaxed grid">
      <div class="column">
        <p style="text-align:center">Wijzig</p>
      </div>
      <div class="column">
        <p style="text-align:center">Verwijder</p>
      </div>
    </div>
    <div class="ui vertical divider">
      ---
  </div>
</div>